@model OnlineGroceryLK.Models.ViewModels.IndexViewModel

<section class="categories-slider-area bg__white">
    <div class="container">
        <div class="row">
            <!-- Start Left Feature -->
            <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 float-left-style">
                <!-- Start Slider Area -->
                <div class="slider__container slider--one">
                    <div class="slider__activation__wrap owl-carousel owl-theme owl-loaded owl-drag">
                        <!-- Start Single Slide -->
                        <!-- End Single Slide -->
                        <!-- Start Single Slide -->
                        <!-- End Single Slide -->
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-1740px, 0px, 0px); transition: all 0s ease 0s; width: 5220px;">
                                <div class="owl-item cloned" style="width: 870px;">
                                    <div class="slide slider__full--screen slider-height-inherit slider-text-right" style=" background: rgba(0, 0, 0, 0) url(images/slider/bg/1.jpg) no-repeat scroll center center / cover;">
                                        <div class="container">
                                            <div class="row">

                                                <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-6 col-sm-12 col-xs-2">
                                                    <div class="slider__inner">

                                                        <div class="slider__btn">
                                                            <a class="htc__btn" href="cart.html">shop now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 870px;">
                                    <div class="slide slider__full--screen slider-height-inherit  slider-text-left" style="background: rgba(0, 0, 0, 0) url(images/slider/bg/1.jpg) no-repeat scroll center center / cover;">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                                    <div class="slider__inner">
                                                        <div class="slider__btn">
                                                            <a class="htc__btn" href="cart.html">shop now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 870px;">
                                    <div class="slide slider__full--screen slider-height-inherit slider-text-right" style=" background: rgba(0, 0, 0, 0) url(images/slider/bg/2.jpg) no-repeat scroll center center / cover;">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                                                    <div class="slider__inner">
                                                        <div class="slider__btn">
                                                            <a class="htc__btn" href="cart.html">shop now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 870px;">
                                    <div class="slide slider__full--screen slider-height-inherit  slider-text-left" style="background: rgba(0, 0, 0, 0) url(images/slider/bg/2.png) no-repeat scroll center center / cover ;">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                                    <div class="slider__inner">
                                                        <h1>New Product <span class="text--theme">Collection</span></h1>
                                                        <div class="slider__btn">
                                                            <a class="htc__btn" href="cart.html">shop now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 870px;">
                                    <div class="slide slider__full--screen slider-height-inherit slider-text-right" style="background: rgba(0, 0, 0, 0) url(images/slider/bg/1.png) no-repeat scroll center center / cover ;">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                                                    <div class="slider__inner">
                                                        <h1>New Product <span class="text--theme">Collection</span></h1>
                                                        <div class="slider__btn">
                                                            <a class="htc__btn" href="cart.html">shop now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 870px;">
                                    <div class="slide slider__full--screen slider-height-inherit  slider-text-left" style="background: rgba(0, 0, 0, 0) url(images/slider/bg/2.png) no-repeat scroll center center / cover ;">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                                    <div class="slider__inner">
                                                        <h1>New Product <span class="text--theme">Collection</span></h1>
                                                        <div class="slider__btn">
                                                            <a class="htc__btn" href="cart.html">shop now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-nav"><div class="owl-prev"><i class="zmdi zmdi-chevron-left"></i></div><div class="owl-next"><i class="zmdi zmdi-chevron-right"></i></div></div><div class="owl-dots disabled"></div>
                    </div>
                </div>
                <!-- Start Slider Area -->
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 float-right-style">
                <div class="categories-menu mrg-xs">
                    <div class="category-heading">
                        <h3> Browse Categories</h3>
                    </div>
                    <div class="category-menu-list">
                        <ul>

                            <li>
                                <a href="#"><img alt="" src="images/icons/thum4.png"> All Catagories <i class="zmdi zmdi-chevron-right"></i></a>
                                <div class="category-menu-dropdown">
                                    <div class="category-menu-dropdown-top">
                                        @foreach (var item in Model.Category)
                                        {
                                            <div class="category-part-1 category-common2 mb--30">
                                                <h4 class="categories-subtitle"> @item.Name</h4>
                                                <ul>
                                                    @foreach (var items in Model.StockMaster.Where(d => d.CategoryId == item.Id))
                                                    {
                                                        <li>
                                                            <a data-filter=".@items.Product.Name.Replace(" ",string.Empty)"> @items.Product.Name</a>

                                                        </li>
                                                    }


                                                </ul>
                                            </div>
                                        }

                                    </div>

                                </div>
                            </li>


                            @foreach (var item in Model.Category)
                            {
                                <li>
                                    <a data-filter=".@item.Name.Replace(" ",string.Empty)"><img alt="" src="images/icons/thum7.png"> @item.Name</a>
                                </li>

                                @*<li data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>*@
                            }



                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Left Feature -->
        </div>
    </div>
</section>

<div class="only-banner ptb--1 bg__white">
    <div class="container">
        <div class="only-banner-img">
            <a href="shop-sidebar.html"><img src="images/new-product/3.jpg" alt="new product"></a>
        </div>
    </div>
</div>




<section class="categories-slider-area bg__white">
    <div class="backgroundWhite container">

        <ul id="menu-filters" class="menu-filter-list list-inline text-center">
            <li class="active btn btn-secondary ml-1 mr-1" data-filter=".menu-restaurant">Show All</li>

            @foreach (var item in Model.Category)
            {
                <li class="ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
            }

        </ul>


        @foreach (var category in Model.Category)
        {
            <div class="row" id="menu-wrapper">
                <partial name="_ThumbnailAreaPartial" model="@Model.StockMaster.Where(u=>u.Category.Name.Equals(category.Name))" />
            </div>
        }
    </div>

</section>









    @section Scripts{
        <script src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>

        <script>

            var posts = $('.post');

            (function ($) {

                $("#menu-filters li").click(function () {
                    $("#menu-filters li").removeClass('active btn btn-secondary');
                    $(this).addClass('active btn btn-secondary');

                    var selectedFilter = $(this).data("filter");

                    $(".menu-restaurant").fadeOut();

                    setTimeout(function () {
                        $(selectedFilter).slideDown();
                    }, 300);
                });



            })(jQuery);

        </script>
    }
